/* input[type="text"] {
  height: 34px;
  font-size: larg;
  width: 50%;
  border-radius: 8px 0px 0 8px;
  border: 1px solid rgba(0, 0, 0, 0.8);
}
input[type="button"] {
  height: 38px;
  width: 40%;
  padding: 0;
  font-weight: 700;
  background: #51cb20;
  color: white;
  border: none;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
} */
ol {
  margin: 0px 0 0 0;
  padding: 12px 38px;
}
p {
  font-size: medium;
}
.chefAiCredentials {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.chefAiCredentialField {
  margin-bottom: 8px !important;
}
.chefAiContainer {
  /* filter: blur(8px);
  -webkit-filter: blur(8px); */
  /* background-image: url('../public/kitchenbg2.jpg'); */
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FDF7FF;
}

.chefAiCard {
  background-color: rgb(255, 255, 255);
  color: #000000cc;
  width: 700px;
  overflow: hidden;
  margin: 12px 18px;
  border-radius: 24px;
  /* border: 2px solid #3a5683; */
  box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.45);
  animation: appear 1s;
}

.chefAICardHeader {
  display: flex;
  flex-direction: row;
  /* border-bottom: 1px solid rgb(0,0,0); */
  padding: 12px 16px;
  background-color: #d5cabdb1;
  border-radius: 24px 24px 0 0;
  padding: 18px;
  background-image: url('../public/Modern.jpeg');
  background-repeat: no-repeat;
  background-attachment: local;
  background-position:center;
}
.chefAiCardContent {
  padding: 12px 16px;
}

.chefAiIngredientsHeader {
  display: flex;
  /* width: 100%; */
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 18px;
  background-image: url('../public/Modern.jpeg');
  background-repeat: no-repeat;
  background-attachment: local;
  background-position:center;
}
h1 {
  color: #6B5974;
}
h2 {
  color: #FFFFFF; /*#A0AACE;*/
  font-size: larger;
}
h3 {
  color: #424656; /*#A0AACE;*/
  font-size: medium;
}
.ingredientsItem {
  width: calc(50% - 32px);
  margin: 4px 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.instructionItem {
  width: calc(100% - 32px);
  margin: 4px 0px;

  padding: 8px;

  display: flex;
  flex-direction: row;
  align-items: center;
  /* border: 0.5px solid #424656; */
}
@media only screen and (max-width: 1100px) {
  .chefAiCard {
    width: calc(100% - 46px);
  }

  .ingredientsItem {
    width: calc(100% - 16px);
  }
}

p {
  font-weight: 300;
  min-width: 100%;
}
@keyframes appear {
  0%   {opacity: 0}
  /* 50%  {opacity: 0.5} */
  100% {opacity: 1}
}